// @import "../../styles/variables/colors";
.slider-card {
  width: calc(100% - 0px);
  height: 280px;
  border-radius: 10px;
  margin-inline: 0px !important;
  // filter: drop-shadow(0px 6px 24.5px rgba(22,19,22,0.09));
  background-color: white;
  border: 0px solid black;
  overflow: hidden;
  cursor: pointer;
  .top-col {
    background-size: 100% 100%;
    width: 100%;
    height: 75%;
    margin-inline: 0px !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .bottom-col {
    width: calc(100% - 90px);
    padding-inline: 10px;
    padding-block: 10px;
    height: 25%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    .card-heading {
      font-size: 12px;
      letter-spacing: 0px;
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      text-align: center;
      margin: 0%;
      padding: 0%;
      text-align: left;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p {
      text-align: left;
      font-size: 9px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: black;
      font-weight: 400;
      font-family: "Poppins";
      margin: 0;
      padding: 0%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      width: 100%;
      font-size: 16px;
      letter-spacing: 0px;
      text-transform: uppercase;
      color: #e24d31;
      font-weight: bold;
      text-align: left;
    }
  }
}

.slick-slider {
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  // position: absolute;
}

.slick-list {
  margin-inline: auto;
}
.slick-prev {
  left: -23px;
  z-index: 999999;
  color: black;
  &::before {
    color: black;
  }
}

.slick-next {
  right: -23px;
  z-index: 999999;
  &::before {
    color: black;
  }
}


.slider-card2{
  width: calc(100% - 0px);
  height: 220px;
  border-radius: 10px;
  margin-inline: 0px !important;
  // filter: drop-shadow(0px 6px 24.5px rgba(22,19,22,0.09));
  background-color: white;
  border: 0px solid black;
  overflow: hidden;
  cursor: pointer;
  .top-col {

    background-size: 100% 100%;
    width: 100%;
    height: 60%;
    margin-inline: 0px !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .bottom-col {
    width: calc(100% - 24px);
    padding-inline: 2px;
    padding-block: 10px;
    height: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    .card-heading {
      font-size: 12px;
      letter-spacing: 0px;
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      text-align: center;
      margin: 0%;
      padding: 0%;
      text-align: left;
    }
    p {
      text-align: left;
      font-size: 9px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: black;
      font-weight: 400;
      font-family: "Poppins";
      margin: 0;
      padding: 0%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span {
      width: 100%;
      font-size: 12px;
      letter-spacing: 0px;
      text-transform: uppercase;
      color: #e24d31;
      font-weight: bold;
      text-align: left;
    }
  }
}
.slider-card-col{
  width: 98%;
  height: 130px;
  border-radius: 10px;
  background-size: cover;
  background-image: url("../../assets/images/cardImage.jpg");
}