.enquire-form{
    color: black;
    h3{
        font-size: 22px;
        margin: 0px 0px 20px 0px;
        padding: 0;
        // text-transform: uppercase;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
    .form{
        display: flex;
        width: 85%;
        flex-direction: column;
        // background: red;
        gap: 12px;

        input{
            width: 100%;
            padding: 12px;
        }
        .submit-btn{
            color: #000;
            background-color: #ffe400;
            // border-color: #ffe400;
            font-weight: 700;
            border: none;
            border-radius: 5px;
            padding: 10px 27px;
            margin-top: 6px;
            width: 35%;

        }
    }
}