@import "../../styles/variables/mixins";
.experience-sec{
    .experience-heading{
        width: 90%;
        margin: auto;
        img{
            width: 100%;
        }
    }
    .sub-heading{
        width: 90%;
        margin: auto;
        font-size: 19px;
color: #0e161d;
font-weight: bold;
text-align: center;
span{
    background-color: #f9aa5a;
    color: white;
    padding-inline: 10px;
    padding-block: 0px;
    padding-bottom: 5px;
    border-radius: 5px;

}
    }
}