@import "../styles/variables/mixins";
.main-layout {
    width: 60%;
    // display: flex;
    margin: auto;
    // background-color: aquamarine;
    background-color: #ffffff;
    height: 100vh !important;
    // align-items: center;
    @include mediaQuery(phone){
        width: 100%;
    }
    
.content{
    width: 100%;
}
}
.footer{
    position: fixed;
    width: 480px;
    z-index: 9999;
    // display: flex;
    margin: auto;

    bottom: 0%;
    @include mediaQuery(phone){
        width: 100%;
    }
}
